body {
    font-family: Noto Sans;
}
.backgroundColor {
        background-color: #DB7093;
        color: white;
    }
    .backgroundGradient {
        background: linear-gradient(to bottom, white, #DB7093);
        color: white;
    }

    .lighterColor {
        background: #E59AB3;
    }
    .darkerColor {
        background: #994E66;

h1 {
    font-family: Noto Sans, Helvetica, Arial;
    font-size: 48px;
    margin: 25px;
    margin-right: 25px;
    text-indent: 0em;
    text-align: center;
    color: LightCoral;



}

h2 {
    font-family: Noto Sans, Helvetica, Arial;
    font-size: 24px;
    text-align: center;
    margin: 25px;
        margin-right: 25px;
    text-indent: 0em;
    color: lightcoral;



}

h3 {
    font-family: Noto Sans, Helvetica, Arial;
    font-size: 20px;
    color: green;
    text-align: center;
    margin: 25px;
    margin-right: 25px;
    text-indent: 0em;

}

p {
    margin: 25px;
    text-indent: 0em;
    margin-right: 25px;
    line-height: 1.5em;
    hyphens: auto;
    text-align: center;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}
